<h2> BURADAKİ STOPWORDS ADEDİ SADECE 52. BU COK AZ . ONUN İCİN İNTERNETTEN BİR STOPWORDS TXT DOSYASI BULDUM. ONU
KULLANACAGIZ. </h2>

In [29]:
import nltk
from nltk.corpus import stopwords
import pandas as pd
import sys

In [3]:
stopwords_tr = stopwords.words("turkish")

In [17]:
type(stopwords_tr)

list

In [15]:
df = pd.DataFrame(stopwords_tr, columns=["kelimeler:"]).T

MODELLERDE BU GEREKSIZ KELIMELERIN CIKARTILIP DEVAM EDILMESI LAZIM

In [16]:
df

,0,1,2,3,4,5,6,7,8,9,...,43,44,45,46,47,48,49,50,51,52
kelimeler:,acaba,ama,aslında,az,bazı,belki,biri,birkaç,birşey,biz,...,o,sanki,şey,siz,şu,tüm,ve,veya,ya,yani

In [30]:
sys.path.append("..")

In [47]:
from stop_words import StopWords
stop_words_tr = StopWords("../turkce_stop_words.txt").load_get_stopwords()

In [48]:
df_stopwords = pd.DataFrame(stop_words_tr, columns=["kelimeler"]).T
df_stopwords

,0,1,2,3,4,5,6,7,8,9,...,275,276,277,278,279,280,281,282,283,284
kelimeler,a,acaba,altı,altmış,ama,ancak,arada,artık,asla,aslında,...,yetmiş,yi,yı,yine,yirmi,yoksa,yu,yüz,zaten,zira